build==1.2.2.post1
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.0
cycler==0.12.1
fair==2.1.3
fonttools==4.56.0
h5py==3.13.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
kiwisolver==1.4.7
matplotlib==3.9.4
numpy==2.0.2
packaging==24.2
pandas==2.2.3

platformdirs==4.3.6
Platypus==1.0
Platypus-Opt==1.4.1
ply==3.11

pyparsing==3.2.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3

six==1.17.0
tomli==2.2.1

tzdata==2025.1
urllib3==2.3.0

xarray==2023.12.0
tqdm==4.66.1
scipy==1.8.0
pillow==11.1.0
pooch==1.8.0

zipp==3.21.0
ema-workbench==2.5.0
